<select size="1" name="${_id}" class="text" id="${_id}">
	<option #{if _value == "AC"} selected #{/if} value="AC">AC</option>
	<option #{if _value == "AL"} selected #{/if} value="AL">AL</option>
	<option #{if _value == "AM"} selected #{/if} value="AM">AM</option>
	<option #{if _value == "AP"} selected #{/if} value="AP">AP</option>
	<option #{if _value == "BA"} selected #{/if} value="BA">BA</option>
	<option #{if _value == "CE"} selected #{/if} value="CE">CE</option>
	<option #{if _value == "DF"} selected #{/if} value="DF">DF</option>
	<option #{if _value == "ES"} selected #{/if} value="ES">ES</option>
	<option #{if _value == "GO"} selected #{/if} value="GO">GO</option>
	<option #{if _value == "MA"} selected #{/if} value="MA">MA</option>
	<option #{if _value == "MG"} selected #{/if} value="MG">MG</option>
	<option #{if _value == "MT"} selected #{/if} value="MT">MT</option>
	<option #{if _value == "MS"} selected #{/if} value="MS">MS</option>
	<option #{if _value == "PA"} selected #{/if} value="PA">PA</option>
	<option #{if _value == "PB"} selected #{/if} value="PB">PB</option>
	<option #{if _value == "PE"} selected #{/if} value="PE">PE</option>
	<option #{if _value == "PI"} selected #{/if} value="PI">PI</option>
	<option #{if _value == "PR"} selected #{/if} value="PR">PR</option>
	<option #{if _value == "RJ"} selected #{/if} value="RJ">RJ</option>
	<option #{if _value == "RN"} selected #{/if} value="RN">RN</option>
	<option #{if _value == "RO"} selected #{/if} value="RO">RO</option>
	<option #{if _value == "RR"} selected #{/if} value="RR">RR</option>
	<option #{if _value == "RS"} selected #{/if} value="RS">RS</option>
	<option #{if _value == "SC"} selected #{/if} value="SC">SC</option>
	<option #{if _value == "SE"} selected #{/if} value="SE">SE</option>
	<option #{if _value == "SP"} selected #{/if} value="SP">SP</option>
	<option #{if _value == "TO"} selected #{/if} value="TO">TO</option>
</select>