#{extends 'pagTesteAdm.html' /}
#{set title:'Editar Usuários' /}

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>editar usuario</h2>
          <div class="clr"></div>
          * Dados Obrigatórios
          
			#{form @UsuarioCtrl.salvarAlteracoesUsuario(usuario.id)}
            <ol>
            	#{cadastrausu usuario:usuario /}
				<li>
					<input type="submit" value="Finalizar Edição" class="send"/>
					<div class="clr"></div>
				</li>			
			</ol>	
			#{/form}
			
        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
