#{if session.get("tipo") == models.Usuario.admin}
#{extends 'pagTesteAdm.html' /}
#{/if}
#{else}
#{extends 'pagteste2.html' /}
#{/else}
#{set title:'Alterar Senha' /}

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>alterar senha</h2>
          <div class="clr"></div>
          * Dados Obrigatórios
          
			#{form @UsuarioCtrl.efetivarMudarSenha(usuario.id)}
            <ol>
            	<li>			
					<label for="atual">Senha Atual:</label>
					<input type="password" name="atual" id="atual" class="text" maxlength="20" value="${params.atual}"/>
				</li>
				<li>
					<label for="nova1">Nova Senha:</label>
					<input type="password" name="nova1" id="nova1" class="text" maxlength="20" value="${params.nova1}"/>
				</li>
				<li>
					<label for="nova2">Repita a Nova Senha:</label>
					<input type="password" name="nova2" id="nova2" class="text" maxlength="20" value="${params.nova2}"/>
				</li>			
              	<li>
                	<input type="submit" value="Alterar Senha" class="send"/>
                	<div class="clr"></div>
              	</li>
			</ol>	
			#{/form}
			
        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
