#{extends 'pagTesteAdm.html' /}
#{set title:'Gerência de Usuários' /}

<div class="content">
	<div class="content_resize">
		<div class="mainbar">
			<div class="article">
          		#{form @UsuarioCtrl.suspender()}
          			<div float = "right">
          				Suspender usuário: ${usuario.login}
          				<input type="hidden" name="login" id="login" class="text" value="${usuario.login}"/>
          				</br>
          			</div>
          			<div float="left">
	          			<label for="tempo">Data de liberação:</label>
		                <input type="date" name="tempo" id="tempo" class="text"/>
	                </div>
	                <div>
		                <input type="submit" value="Confirmar" class="bt-adm"/>
		                <a class="bt-adm" href="@{UsuarioCtrl.usuarioIndex()}">Cancelar</a>
		            </div>
          		#{/form}
      		</div>
		</div>
		<div class="clr"></div>
	</div>
</div>