#{if session.get("tipo") == "1"}
	#{extends 'pagtesteadm.html' /}
#{/if}
#{else}
	#{extends 'pagteste2.html' /}
#{/else}
#{set title:'Cadastrar Usuário' /}
  
 
 <div class="content">
 	<div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>digite os dados do usuário</h2>
          <div class="clr"></div>
          * Dados Obrigatórios
                    
          #{form @UsuarioCtrl.criarUsuario()}
            <ol>
              #{cadastrausu /}
              <li>
                <input type="submit" value="Finalizar Cadastro" class="send"/>
                <div class="clr"></div>
              </li>
            </ol>
          #{/form}
          
        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
 </div>