<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Ingressos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<link href="@{'/public/stylesheets/coin-slider.css'}" rel="stylesheet" type="text/css" media="screen"/>
	<link href="@{'/public/stylesheets/style.css'}" rel="stylesheet" type="text/css" media="screen"/>
	#{get 'moreStyles' /}
	 
	<script src="@{'/public/javascripts/cufon-yui.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/droid_sans_400-droid_sans_700.font.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/script.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/coin-slider.min.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/mascara.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/mascaraTel.js'}" type="text/javascript"></script>
	#{get 'moreScripts' /}
</head>

<body>

	<div class="main"><!--Não está fechado-->
		<div class="header">
			<div class="header_resize">
				<div class="rss"></div>
				
				<div class="logo">
					<h1><a href="@{Application.index2()}"> <span>arenas da copa</span> <small>venda de ingressos para jogos de futebol</small></a></h1>
				</div>
				
				<div class="clr"></div>
				<div class="searchform"></div>
				
				<div class="menu_nav">
					<ul>
						<!--Substituir a palavra Application pelo nome do controlador apropriado-->
						<li><a href="@{Application.index2()}"><span>Home</span></a></li>
						<li><a href="@{EventoCtrl.eventos()}"><span>Eventos</span></a></li>
						<li><a href="@{EstadioCtrl.estadioIndex()}"><span>Estádios</span></a></li>
						<li><a href="@{TimeFutebolCtrl.timesIndex()}"><span>Times de Futebol</span></a></li>
						<li><a href="@{UsuarioCtrl.usuarioIndex()}"><span>Usuários</span></a></li>
						<li><a href="@{UsuarioCtrl.usuarioDadosPessoaisAdm()}"><span>Dados Pessoais</span></a></li>
						#{if session.get("conectado") == "V"}
						<li><a href="@{UsuarioCtrl.logout()}"><span>sair (&{session.get("usuario")})</span></a></li>
						#{/if}
					</ul>
				</div>
				<div class="clr"></div>
				
				<div class="clr"></div>
			</div>
		</div>
	
		#{doLayout /}
	
	<div class="fbg"><!--Não está fechado-->
	<div class="footer">
		<div class="footer_resize">
			<p class="lf">UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE</p>
			<p class="rf">Ciência da Computação</p>
			<div style="clear:both;"></div>
		</div>
	</div>
</body>