#{extends 'pagTesteAdm.html' /}
#{set title:'Fileira' /}

<div class="content">
    <div class="content_resize">
        <div class="mainbar">
            <div class="article">
                
                <h2>informacoes da fileira</h2>
                <div class="clr"> </div>
          
                <br/>
                
               	Nome: ${nomeF} <br/>
		Capacidade: <br/> <br/>
  
                <h2>Cadeiras</h2>
 		
                <br/>
          
		
                <table class="tabela-jogos">
                    <tr id="head-table">
                        <th>Nome</th>
                        <th>Status</th>
			<th>Ações</th>
                    </tr>
						
                    #{if cadeira != null}
			#{list items:cadeira, as:'cadeira'}
                            <tr bgcolor=#{if cadeira.status == 1}"AAAAFF"#{/if} #{else}"FFAAAA"#{/else}>
				<td> ${cadeira.nome} </td>
				<td> ${cadeira.status} </td>
				<td> 
                                    #{if cadeira.status == 1}
                                        <a class="bt-adm" href="@{CadeiraCtrl.cadeiraTornarIndisponivel(id_estadio, id_setor, id_fileira, cadeira.id, nomeS, nomeF)}">Tornar Indisponível</a>
                                    #{/if}
                                    #{else}
                                        <a class="bt-adm" href="@{CadeiraCtrl.cadeiraTornarDisponivel(id_estadio, id_setor, id_fileira, cadeira.id, nomeS, nomeF)}">Tornar Disponível</a>
                                    #{/else}
                                    <a class="bt-adm" href="@{CadeiraCtrl.cadeiraApagar(id_estadio, id_setor, id_fileira, cadeira.id, nomeS, nomeF)}" onClick="if(!confirm('Deseja excluir esta Cadeira?')){return false;}">Apagar</a>
                                </td> 
                            </tr>
			#{/list}
                    #{/if}
                </table>
			
		<br/>
		
		<h2>inserir cadeira</h2>
			
                #{form @CadeiraCtrl.criarCadeira(id_estadio, id_setor, id_fileira, nomeS, nomeF)}
                    <ol>
                        <li>			
                            <label for="nome">Nome:</label>
                            <input type="text" name="nomeC" id="nomeC" class="text"/>
                            <input type="submit" value="Inserir"/>
			</li>
                    </ol>
		#{/form}
			
		<br/> <br/> <br/> 
			
		<center> <a class="bt-adm" href="@{SetorCtrl.setorExibir(id_estadio, id_setor, nomeS)}">Voltar</a> </center>
                
		</div>
			
		<br/>
            </div>
          </div>
        </div>
      <div class="clr">
          
      </div>
    </div>
</div>