#{extends 'pagTesteAdm.html' /}
#{set title:'Gerenciar eventos' /}

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>EVENTOS</h2>
          <div class="clr"></div>
					<table border="1">
						<tr>
							<th>Nome</th>
							<th>Quantidade de Ingressos</th>
							<th>Data</th>
							<th>Hora</th>
							<th>Ações</th>
						</tr>
	
						#{list items:eve, as:'evento'}
						<tr>
							<td>${evento.nome}</td>
							<td>${evento.quantidade}</td>
							<td>${evento.data.getDate()}/${evento.data.getMonth() + 1}/${evento.data.getYear() + 1900}</td>
							<td>${evento.hora}</td>
							<td><a href="@{Application.apagar(evento.id)}" onClick="if(!confirm('Deseja excluir este contato?')){return false;}">Apagar</a>
							<a href="@{Application.editar(evento.id)}">Editar</a></td>
						</tr>
						#{/list}
						</table>
			</div> <br/>
		
		
		<h1>Cadastro de evento </h1>
			#{form @Application.cadastrarEvento()}
			
			
			<div class="linha">
				<div class="esq">
					<p><label for="nome">Nome:</label></p>
				</div>
				<div class="dir">
					<p><input type="text" name="nome" id="nome" value="${params.nome}" /></p>
				</div>
			</div>
			<div class="linha">
				<div class="esq">
					<p><label for="quantidade">Quantidade de Ingressos:</label></p>
				</div>
				<div class="dir">
					<p><input type="text" name="quantidade" id="quantidade" value="${params.quantidade}" /></p>
				</div>
			</div>	
			
			<div class="linha">
				<div class="esq">
					<p><label for="dia">Data:</label></p>
				</div>
				<div class="dir">
					<p><input type="date" name="dia" id="dia" value="${params.dia}" /></p>
				</div>
			</div>
			
			<div class="linha">
				<div class="esq">
					<p><label for="hora">Hora:</label></p>
				</div>
				<div class="dir">
					<p><input type="time" name="hora" id="hora" value="${params.hora}" /></p>
				</div>
			</div>
			
			<div class="bot-enviar">
				<p><input type="submit" value="Cadastrar o Evento" /></p>
			</div>
		
		#{/form}

        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>