#{extends 'pagteste2.html' /}
#{set title:'Próximos Jogos' /}
  
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>proximos jogos</h2>
          <div class="clr"></div>
 
            <table class="tabela-jogos">
              <tr id="head-table">
                <td>Estádio</td>
                <td>Jogo</td>
                <td>Descricao</td>    
                <td>Data</td>
                <td>Compras até</td>
                #{if session.get("conectado") == "V"}
                    <td>Ação</td>
                #{/if}
              </tr>
              
              #{list items:eventos, as:'joinEventosDisponiveisParaCompra'}
                  <tr>
                    <td>${joinEventosDisponiveisParaCompra.nomeEstadio}</td>
                    <td>${joinEventosDisponiveisParaCompra.nomeMandante} x ${joinEventosDisponiveisParaCompra.nomeVisitante} </td>
                    <td>${joinEventosDisponiveisParaCompra.descricao}</td>
                    <td>${joinEventosDisponiveisParaCompra.dataEvento} às ${joinEventosDisponiveisParaCompra.horaEvento}</td>
                    <td>${joinEventosDisponiveisParaCompra.dataFinalCompra}</td>
                    #{if session.get("conectado") == "V"}
                        <td>
                            #{if joinEventosDisponiveisParaCompra.comprou == 0}
                                <a class="bt-adm" href="@{EventoCtrl.setor(joinEventosDisponiveisParaCompra.id_evento)}">Comprar</a>
                            #{/if}
                            #{else}
                                Já comprado!
                            #{/else}
                        </td>
                    #{/if}
                  </tr>
              #{/list}
            </table>

        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>