#{extends 'pagteste.html' /}
#{set title:'P' /}

<!--Testando sintaxe-->
#{ if eve == null}
	Erro: Preencha todos os campos (eu sei que o erro é nosso, mas tenha paciência)
#{/if}
#{else}
	Olá, imundo
#{/else}

<div> Lista aqui
<ol>
#{list items:eve, as:'evento'}
		<li>Nome: ${evento.nome}, Data: ${evento.data}</li>
 #{/list}
 </ol>

</div>
<!-- Esse Aplication.eventos() corresponde ao método eventos no Controlador -->
<div><a href="@{Application.eventos()}">Gerenciar eventos</a></div>
<div><a href="@{Application.ingressos()}">Comprar ingressos</a></div>