#{extends 'pagtesteadm.html' /}
#{set title:'Administração' /}
  
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>PAGINA DE ADMINISTRACAO</h2>
          <div class="clr"></div>
          	#{if session.get("conectado") == "V"}
          	Olá, ${session.get("usuario")}
          	#{/if}
          	
      
			<div>
				<a class = "bt-adm" href="@{Application.ingressos()}">Comprar ingressos</a>
				<a class = "bt-adm" href="@{Application.index()}">Voltar</a>
			</div>
		
        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>