#{extends 'pagteste2.html' /}
#{set title:'Arenas da Copa - HomePage' /}
  
<div class="content">
	<div class="content_resize">
		<div class="mainbar">
			<div class="article">
          	<div class="clr"></div>

				 <div class="slider">
				        <div id="coin-slider">
							<img src="@{'/public/images/slide1.jpg'}" width="960" height="360" alt="" />
								<span><big>ABC x Alecrim</big><br />
								22/05/2014 - Grande Clássico do Futebol Potiguar</span>
						  
						    <img src="@{'/public/images/slide2.jpg'}" width="960" height="360" alt="" />
								<span><big>ABC x América</big><br />
								25/05/2014 - Maior clássico do futebol Nordestino</span>
							
							<img src="@{'/public/images/slide3.jpg'}" width="960" height="360" alt="" /><span>
								<big>ABC x Barcelona</big><br />
								02/06/2014 - Valendo o título mundial de clubes</span>
						</div>
				        <div class="clr"></div>
				</div>

          		
			</div>
      		</div>
		</div>
      <div class="clr"></div>
	</div>
</div>