#{extends 'pagteste2.html' /}
#{set title:'Login' /}
  
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>proximos jogos</h2>
          <div class="clr"></div>
 
            <table class="tabela-jogos">
              <tr id="head-table">
                <td >Jogo</td>
                <td>Campeonato</td>    
                <td>Data</td>
              </tr>
              <tr>
                <td>ABC x América</td>
                <td>Série B</td>    
                <td>20/07/2014</td>
              </tr>

              <tr>
                <td>Itália x Uruguai</td>
                <td>Copa do Mundo 2014</td>   
                <td>17/06/2014</td>
              </tr>

              <tr>
                <td>Brasil x Argentina</td>
                <td>Copa América</td>    
                <td>10/10/2014</td>
              </tr>
            </table>

        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>