#{extends 'pagTesteAdm.html' /}
#{set title:'Cadastrar Times' /}
  
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>digite os dados do time de futebol</h2>
          <div class="clr">asa</div>
          * Dados Obrigatórios
                    
          #{form @TimeFutebolCtrl.cadastrarTime()}
            <ol>
              #{formtime time:null/}
              <li>
                <input type="submit" value="Finalizar Cadastro" class="send"/>
              </li>
            </ol>
          #{/form}


          
        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
