#{extends 'pagtesteadm.html' /}
#{set title:'Editar Times' /}
 
   <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>editar dados do time de futebol</h2>
          <div class="clr"></div>
          * Dados Obrigatórios
          
          #{form @TimeFutebolCtrl.timeEditar(timefutebol.id)}
          <ol>
          	#{formtime time:timefutebol /}
              <li>
                <input type="submit" value="Finalizar Edição" class="send"/>
                <div class="clr"></div>
              </li>
            </ol>
          #{/form}      
      
          
         </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>