#{extends 'pagTesteAdm.html' /}
#{set title:'Gerência de Times de Futebol' /}


<div class="content">
	<div class="content_resize">
		<div class="mainbar">
			<div class="article">
          		<h2>TIMES DE FUTEBOL</h2>
          		<div class="clr"></div>
          		
          			<br/>
          		
          			<a class="bt-adm" href="@{TimeFutebolCtrl.timesCadastrar()}">Cadastrar Times</a>
					
          			<br/>
					<table class="tabela-jogos">
						<tr  id="head-table">
							<th>Nome</th>
							<th>CNPJ</th>
							<th>Ano de Fundação</th>
							<th>Ações</th>
						</tr>
						
						#{list items:time, as:'timefutebol'}
						<tr>
							<td>${timefutebol.nomeTime}</td>
							<td>${timefutebol.cnpjTime}</td>
							<td>${timefutebol.anoFundacao}</td>
							<td><a class="bt-adm" href="@{TimeFutebolCtrl.timeApagar(timefutebol.id)}" onClick="if(!confirm('Deseja excluir este Time?')){return false;}">Apagar</a>
							    <a class="bt-adm" href="@{TimeFutebolCtrl.timesEditar(timefutebol.id)}">Editar</a></td>
						</tr>
						#{/list}
					</table>
					</div> <br/>
					
        		</div>
      		</div>
		</div>
	<div class="clr"></div>
	</div>
</div>