#{extends 'pagtesteadm.html' /}
#{set title:'Cadastrar Estádio' /}
  
 
 <div class="content">
 	<div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>digite os dados do estadio</h2>
          <div class="clr"></div>
          * Dados Obrigatórios
                    
          #{form @EstadioCtrl.criarEstadio()}
            <ol>
              <li>
                <label for="nome">Nome*:</label>
                <input type="text" name="nome" id="nome" class="text" value="${params.nome}"/>
              </li>
              <li>
                <label for="endereco">Endereço*:</label>
                <input type="text" id="endereco" name="endereco" class="text" value="${params.endereco}"/>
              </li>
              <li>
                <label for="bairro">Bairro*:</label>
                <input type="text" id="bairro" name="bairro" class="text" value="${params.bairro}"/>
              </li>
              <li>
                <label for="cidade">Cidade*:</label>
                <input type="text" id="cidade" name="cidade" class="text" value="${params.cidade}"/>
              </li>
              <li>
                <label for="estado">Estado*:</label>
              	<select size="1" name="estado" class="text" id="estado">
					<option selected value="AC">AC</option>
					<option          value="AL">AL</option>
					<option          value="AM">AM</option>
					<option          value="AP">AP</option>
					<option          value="BA">BA</option>
					<option          value="CE">CE</option>
					<option          value="DF">DF</option>
					<option          value="ES">ES</option>
					<option          value="GO">GO</option>
					<option          value="MA">MA</option>
					<option          value="MG">MG</option>
					<option          value="MT">MT</option>
					<option          value="MS">MS</option>
					<option          value="PA">PA</option>
					<option          value="PB">PB</option>
					<option          value="PE">PE</option>
					<option          value="PI">PI</option>
					<option          value="PR">PR</option>
					<option          value="RJ">RJ</option>
					<option          value="RN">RN</option>
					<option          value="RO">RO</option>
					<option          value="RR">RR</option>
					<option          value="RS">RS</option>
					<option          value="SC">SC</option>
					<option          value="SE">SE</option>
					<option          value="SP">SP</option>
					<option          value="TO">TO</option>
				</select>
              </li>
			  <li>
                <label for="cep">CEP*:</label>
                <input type="text" name="cep" id="cep" class="text" value="${params.cep}" />
              </li>
              <li>
                <input type="submit" value="Finalizar Cadastro" class="send"/>
                <div class="clr"></div>
              </li>
            </ol>
          #{/form}
          
        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
 </div>