#{extends 'pagTesteAdm.html' /}
#{set title:'Gerenciar eventos' /}

<div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
 
            <h2>Editar evento </h2>
            #{form @EventoCtrl.editarEvento(evento.id)}			
                <ol>
                    <li>
                        <label for="nome">Nome:</label>
                        <input class="text" type="text" name="nome" id="nome" value="${evento.descricao}" />
                    </li>
                    <li>
                        <label for="dia">Data:</label>
                        <input class="text" type="date" name="dia" id="dia" value="${evento.dataEvento.toString().substring(0,10)}" />
                    </li>
                    <li>
                        <label for="hora">Hora:</label>
                        <input class="text" type="time" name="hora" id="hora" value="${evento.hora}" />
                    </li>
                    <li>
                        <p><input type="submit" value="Editar o Evento" class="send"/></p>
                    </li>
                </ol>
            #{/form}
                        
           </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
