#{extends 'pagtesteadm.html' /}
#{set title:'Gerenciar eventos' /}

<div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
 
			<h1>Cadastro de evento </h1>
			#{form @EventoCtrl.editarEvento(evento.id)}
			
			
			<div class="linha">
				<div class="esq">
					<p><label for="nome">Nome:</label></p>
				</div>
				<div class="dir">
					<p><input type="text" name="nome" id="nome" value="${evento.descricao}" /></p>
				</div>
			</div>
			
			<div class="linha">
				<div class="esq">
					<p><label for="dia">Data:</label></p>
				</div>
				<div class="dir">
					<p><input type="date" name="dia" id="dia" value="${evento.dataEvento.toString().substring(0,10)}" /></p>
				</div>
			</div>
			
			<div class="linha">
				<div class="esq">
					<p><label for="hora">Hora:</label></p>
				</div>
				<div class="dir">
					<p><input type="time" name="hora" id="hora" value="${evento.hora}" /></p>
				</div>
			</div>
			
			<div class="bot-enviar">
				<p><input type="submit" value="Editar o Evento" /></p>
			</div>
		</div>
	


#{/form}