#{extends 'pagtesteadm.html' /}
#{set title:'Gerenciar eventos' /}

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>EVENTOS</h2>
          <div class="clr"></div>
          
          <br/>
          		<a class="bt-adm" href="@{EventoCtrl.eventosCadastrar()}">Cadastrar Evento</a>
 			<br/>
          
					<table class="tabela-jogos">
						<tr id="head-table">
							<th>Data</th>
							<th>Compras até</th>
							<th>Descrição</th>
							<th>Estádio</th>
							<th>Partida</th>
							<th>Ações</th>
						</tr>
	
						#{list items:eventos, as:'joinEventosNaPagAdministrador'}
							<tr>
								<td>${joinEventosNaPagAdministrador.data} ás ${joinEventosNaPagAdministrador.hora}</td>
								<td>${joinEventosNaPagAdministrador.dataLimite}</td>
								<td>${joinEventosNaPagAdministrador.descricao}</td>
								<td>${joinEventosNaPagAdministrador.nomeEstadio}</td>
								<td>${joinEventosNaPagAdministrador.mandante} x ${joinEventosNaPagAdministrador.visitante}</td>
								<td>
                                                                    <a class="bt-adm" href="@{EventoCtrl.setoresDisponiveis(joinEventosNaPagAdministrador.id_evento, joinEventosNaPagAdministrador.id_estadio)}" >Setores</a>
                                                                    <a class="bt-adm" href="@{EventoCtrl.apagar(joinEventosNaPagAdministrador.id_evento)}" onClick="if(!confirm('Deseja excluir este evento?')){return false;}">Apagar</a>
                                                                    <a class="bt-adm" href="@{EventoCtrl.editar(joinEventosNaPagAdministrador.id_evento)}">Editar</a>
                                                                </td>
							</tr>
						#{/list}
						</table>
			</div>
			
			<br/>
		

        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>