#{extends 'pagTesteAdm.html' /}
#{set title:'Gerenciar eventos' /}

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>EVENTOS</h2>
          <div class="clr"></div>
          
          <br/>
          		<a class="bt-adm" href="@{EventoCtrl.eventosCadastrar()}">Cadastrar Evento</a>
 			<br/>
          
					<table class="tabela-jogos">
						<tr id="head-table">
							<th>Data</th>
							<th>Hora</th>
							<th>Descrição</th>
							<th>Estádio</th>
							<th>Mandante</th>
							<th>Visitante</th>
							<th>Ações</th>
						</tr>
	
						#{list items:eventos, as:'evento'}
							<tr>
								<td>${evento.dataEvento}</td>
								<td>${evento.hora}</td>
								<td>${evento.descricao}</td>
								<td>${evento.id_estadio}  *{${evento.data.getDate()}/${evento.data.getMonth() + 1}/${evento.data.getYear() + 1900} }*</td>
								<td>${evento.id_mandante}</td>
								<td>${evento.id_visitante}</td>
								<td><a class="bt-adm" href="@{EventoCtrl.apagar(evento.id)}" onClick="if(!confirm('Deseja excluir este evento?')){return false;}">Apagar</a>
								<a class="bt-adm" href="@{EventoCtrl.editar(evento.id)}">Editar</a></td>
							</tr>
						#{/list}
						</table>
			</div>
			
			<br/>
		

        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>