#{extends 'pagtesteadm.html' /}
#{set title:'Disponibilizar Setores' /}

<div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">

            <h2> Disponibilizar setores para um evento </h2>

            <br/>

            <table class="tabela-jogos">
                <tr id="head-table">
                    <th>Nome do Setor</th>
                    <th>Valor do Ingresso</th>
                    <th>Ações</th>
                </tr>
                
                #{if setores != null}
                    #{list items:setores, as:'joinSetoresDisponiveis'}
                         <tr bgcolor=#{if joinSetoresDisponiveis.status == 1}"AAAAFF"#{/if} #{else}"FFAAAA"#{/else}>
                            <td> ${joinSetoresDisponiveis.nomeSetor} </td>
                            <td> ${joinSetoresDisponiveis.valor} </td>
                            <td>
                                 #{if joinSetoresDisponiveis.status == 1}
                                 <a class="bt-adm" href="@{EventoCtrl.indisponibilizarSetor(joinSetoresDisponiveis.id_setor, id_evento, id_estadio)}" >Indisponibilizar</a>
                                 #{/if}
                                 #{else}
                                 <a class="bt-adm" href="@{EventoCtrl.setorDisponibilizarValor(joinSetoresDisponiveis.id_setor, id_evento, id_estadio)}" >Disponibilizar</a>
                                 #{/else}
                            </td>
                        </tr>
                    #{/list}
                #{/if}
            </table>

        </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>